node_modules/
dist/
NetscriptDefinitions.d.ts
package-lock.json
target
**/dist-newstyle
*.o
*.hi
*.lock
cc/caesar
cc/ip
cc/partsum
cc/lpf
*.c
**/*.err
**/*.mh
**/*.mih
mcc/gridpaths
mcc/interval
mcc/spiralize
mcc/Mercury/**/*
mcc/trader
mcc/graphcolor
.vscode/settings.json
